*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #001e4d;
}
.container{
    width: 500px;
    height: 450px;
    border: 0.1px solid black;
    border-radius: 10px;
    background-color: white;
}
.container h2{
    border-bottom: 0.1px solid black;
    width: 90%;
    margin: 0px auto;
    padding: 10px;
    color: #001e4d;
}
.question-container{
    width: 90%;
    margin: 1rem auto;
}
.question-container p{
    font-size: 1rem;
    color: #001e4d;
    font-size: 17px;
    text-transform: capitalize;
}
.answer-container{
    width: 90%;
    margin: 1rem auto;
}
.answer-container button{
    display: block;
    width: 100%;
    margin: 1rem 0;
    height:55px;
    background-color: transparent;
    border: 0.1px solid black;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    padding: 5px;
    text-transform: capitalize;
}